<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ida4dufz3458tn1fbhjea" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>development</name>
    <description>New Meteor Mobile App</description>
    <author email="n/a" href="n/a">A Meteor Developer</author>
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <content src="http://localhost:12352/" />
    <allow-intent href="tel:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="market:*" />
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    <allow-navigation href="http://localhost" />
    <platform name="ios" />
    <platform name="android" />
</widget>
